<% content_for :title, "Home" %>

<div class="row">
  <div class="col-sm-3" id="home_left_sidebar">
    <!-- Left Sidebar, order middle on mobile -->
    <div class="row">
      <div class="col-xs-12" id="home_course_list">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Courses</h1>
          </div>
          <div class="list-group">
            <% current_user.courses.each do |course| %>
              <%= link_to course, class: 'list-group-item' do %>
                <%= "#{course.department.name} #{course.number}" %> <small style="white-space:pre;"><%= "#{course.department.term.name} #{course.department.term.year.number}" %></small>
              <% end %>
            <% end %>
            <%= link_to courses_url, class: 'list-group-item' do %>
              <span class="badge"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></span>
              All Courses
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-12" id="home_group_list">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Groups</h1>
          </div>
          <div class="list-group">
            <%# if @user.groups %>
              <%#= @user.groups do |group| %>
                <!-- <a href="#" class="list-group-item"><%#= display group %></a> -->
              <%# end %>
            <%# else %>
              <span class="list-group-item">No Groups</span>
            <%# end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6" id="home_main_column" style="min-height: 200px;">
    <!-- Main Content, order top on mobile -->
    <div class="panel panel-default">
      <div class="panel-body">
        <h1>&nbsp;</h1>
      </div>
    </div>
  </div>
  <div class="col-sm-3" id="home_right_sidebar">
    <!-- Right Sidebar, order bottom on mobile -->
    <div class="row">
      <div class="col-xs-12 hidden-xs" id="home_user_panel">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= link_to current_user, style: 'color: black; text-decoration: none;' do %>
              <h3><%= gravatar_for current_user, size: 30, class: 'img-rounded' %>&nbsp;&nbsp;<%= current_user.name %></h3>
            <% end %>
          </div>
          <div class="panel-body">
            Last Login: <%= current_user.last_active_at.nil? ? "Unknown" : current_user.last_active_at.in_time_zone.strftime("%b %d, %l:%M %p") %>
            &nbsp;
          </div>
        </div>
      </div>
      <div class="col-xs-12" id="home_schedule_panel">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Schedule</h1>
          </div>
          <ul class="list-group">
            <% current_user.course_memberships.each do |cm| %>
              <% cm.sections.each do |s| %>
                <li class="list-group-item">
                  <% course = s.associated_class.course %>
                  <h4 class="list-group-item-heading"><%= link_to "#{course.department.name} #{course.number} - #{s.key}", get_info_course_path(course) %></h4>
                  <p class="list-group-item-text">
                    <% s.section_times.each do |st| %>
                      <%= "#{st.days} #{st.start_time.in_time_zone.strftime('%I:%M %p')} - #{st.end_time.in_time_zone.strftime('%I:%M %p')}" %><br>
                    <% end %>
                  </p>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
