<% content_for :title, "Home" %>

<div class="row">
  <div class="col-sm-3" id="home_left_sidebar">
    <!-- Left Sidebar, order middle on mobile -->
    <div class="row">
      <div class="col-xs-12" id="home_course_list">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Courses</h1>
          </div>
          <div class="list-group">
            <% (current_user.courses.sort_by {|x| [-(x.term.year), -(x.term.term_order), x.department.name, x.number]}).each do |course| %>
              <% if course.term == current_user.institution.current_term or course.term == current_user.institution.next_term %>
                <%= link_to course, class: 'list-group-item' do %>
                  <%= "#{course.department.name} #{course.number}" %> <small style="white-space:pre;"><%= course.department.term.term_name %></small>
                <% end %>
              <% end %>
            <% end %>
            <%= link_to courses_url, class: 'list-group-item' do %>
              <span class="badge"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></span>
              All Courses
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-12" id="home_group_list">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Groups</h1>
          </div>
          <div class="list-group">
            <% current_user.groups.each do |group| %>
              <%= link_to group.name, group, class: 'list-group-item' %>
            <% end %>
            <%= link_to groups_url, class: 'list-group-item' do %>
              <span class="badge"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></span>
              All Groups
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6" id="home_main_column" style="min-height: 200px;">
    <!-- Main Content, order top on mobile -->
    <div class="panel panel-default">
      <div class="panel-heading">
            <h1 class="panel-title">Events</h1>
      </div>
      <div class="panel-body">
        <div id="calendar2"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-3" id="home_right_sidebar">
    <!-- Right Sidebar, order bottom on mobile -->
    <div class="row">
      <div class="col-xs-12 hidden-xs" id="home_user_panel">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= link_to current_user, style: 'color: black; text-decoration: none;' do %>
              <h3><%= gravatar_for current_user, size: 30, class: 'img-rounded hidden-xs hidden-sm' %> <%= current_user.name %></h3>
            <% end %>
          </div>
          <div class="panel-body">
            Last Login: <%= current_user.last_login_at.nil? ? "Unknown" : current_user.last_login_at.in_time_zone.strftime("%b %d, %l:%M %p") %>
            &nbsp;
          </div>
        </div>
      </div>
      <div class="col-xs-12" style="margin-bottom: 20px;">
        <%= link_to 'Calendar', events_path, class: "btn btn-primary btn-block", role: "button" %>
      </div>
      <div class="col-xs-12" id="home_schedule_panel">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title"><%= link_to 'Schedule', schedule_path %></h1>
          </div>
          <ul class="list-group">
            <% if current_user.course_memberships.size == 0 %>
              <li class="list-group-item">No Schedules</li>
            <% else %>
              <% (current_user.current_course_memberships.sort {|a,b| "#{a.course.department.name} #{a.course.number}" <=> "#{b.course.department.name} #{b.course.number}"}).each do |cm| %>
                <% if cm.sections.count == 0 %>
                  <% course = cm.course %>
                  <li class="list-group-item">
                    <h4 class="list-group-item-heading"><%= link_to "#{course.department.name} #{course.number}", get_info_course_path(course) %><br><small><%= course.department.term.term_name %></small></h4>
                    <p class="list-group-item-text">
                      No Schedules
                    </p>
                  </li>
                <% else %>
                  <% cm.sections.each do |s| %>
                    <li class="list-group-item">
                      <% course = s.associated_class.course %>
                      <h4 class="list-group-item-heading"><%= link_to "#{course.department.name} #{course.number} - #{s.key}", get_info_course_path(course) %><br><small><%= course.department.term.term_name %></small></h4>
                      <p class="list-group-item-text">
                        <% if course.term.in_exam_period %>
                          <% if s.exams.count == 0 %>
                            No Exams
                          <% else %>
                            <% s.exams.each do |e| %>
                              <%= "#{e.exam_start.strftime("%a")} #{e.exam_start.strftime("%D")} #{e.exam_start.in_time_zone.strftime('%I:%M %p')} - #{e.exam_end.in_time_zone.strftime('%I:%M %p')}" %><br>
                            <% end %>
                          <% end %>
                        <% else %>
                          <% if s.section_times.count == 0 %>
                            No Schedules
                          <% else %>
                            <% s.section_times.each do |st| %>
                              <%= "#{st.days} #{st.start_time.in_time_zone.strftime('%I:%M %p')} - #{st.end_time.in_time_zone.strftime('%I:%M %p')}" %><br>
                            <% end %>
                          <% end %>
                        <% end %>
                      </p>
                    </li>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

