<% user = (User.exists?(id: post.user_id) ? User.find(post.user_id) : nil) %>

<div class="row" id="post_<%= post.id %>">
  <div class="col-xs-12">
    <div class="panel panel-default post_panel">
      <div class="panel-body">
        <div class="media">
          <div class="media-left media-top">
            <% if user.nil? %>
              <%= image_tag 'https://secure.gravatar.com/avatar/?s=200', width: 54, class: 'media-object media-middle img-rounded' %>
            <% else %>
              <%= link_to user, target: '_blank' do %><%= gravatar_for user, size: 54, class: 'media-object media-middle img-rounded' %><% end %>
            <% end %>
          </div>
          <div class="media-body post_body">
            <h4 class="media-heading">
              <span class="post_user"><%= user.nil? ? "Unknown" : (link_to user.name, user, target: '_blank') %></span>
              <small><span style="float: right" class="post_created_at"><%= "#{post.created_at.strftime("%x") + " " if post.created_at.in_time_zone < Date.today} #{post.created_at.strftime("%l:%m:%S %p")}" %></span></small>
            </h4>
            <span class="post_body">
              <% unless post.title.blank? %><h5><%= post.title %></h5><% end %>
              <%= markdown(post.body) %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
