<% if @post.valid? %>
  $("#post_<%= @post.id %>_edit").remove();
  $("#post_<%= @post.id %>").show();
  <% publish_to @channel do %>
    $("#post_<%= @post.id %>").replaceWith("<%= j render(@post) %>");
  <% end %>
  $("#post_<%= @post.id %>").prepend('<div id="post_<%= @post.id %>_info" class="alert alert-success" role="alert">Post Edited</div>')
  $("#post_<%= @post.id %>_info").delay(1000).fadeOut(500, function() { $("#post_<%= @post.id %>_info").remove(); });
<% else %>
  errorString = "The following errors occured:<br><br><ul>"
  <% @post.errors.full_messages.each do |msg| %>
    errorString += '<li><%= msg %></li>';
  <% end %>
  errorString += '</ul><br>Please check and submit again.';
  $("#edit_post_<%= @post.id %>").before('<div class="alert alert-danger" id="post_<%= @post.id %>_danger" role="alert">' + errorString + '</div>');
  $("#post_<%= @post.id %>_danger").delay(4000).fadeOut(500, function() { $("#post_<%= @post.id %>_danger").remove(); });
<% end %>
