<%= javascript_tag do %>
  <!-- Investigate native Rails solution? -->
  CASSupport = function() {
    var submitBtn = document.getElementById("cas_field");
    var acceptCM = document.getElementById("institution_uses_cas");
    if (acceptCM.checked == true) {
      submitBtn.removeAttribute("disabled");
    }
    else {
      var disable = document.createAttribute("disabled");
      disable.value = "disabled";
      submitBtn.setAttributeNode(disable);
    }
  }
  $(document).ready(function() {
    CASSupport()
  })
<% end %>

<%= form_for(@institution, html: {class: 'form-horizontal'}) do |f| %>
  <%= render partial: 'shared/error_messages', locals: {obj: @institution} %>

  <div class="form-group">
    <%= f.label :name, class: 'col-sm-4 col-md-3 control-label' %>
    <div class="col-sm-8 col-md-9">
      <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :city, class: 'col-sm-4 col-md-3 control-label' %>
    <div class="col-sm-8 col-md-9">
      <%= f.text_field :city, class: 'form-control', placeholder: 'City' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :state, class: 'col-sm-4 col-md-3 control-label' %>
    <div class="col-sm-8 col-md-9">
      <%= f.text_field :state, class: 'form-control', placeholder: 'State/Province' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :country, class: 'col-sm-4 col-md-3 control-label' %>
    <div class="col-sm-8 col-md-9">
      <%= f.text_field :country, class: 'form-control', placeholder: 'Country' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email_constraint, 'Email Constraint', class: 'col-sm-4 col-md-3 control-label' %>
    <div class="col-sm-8 col-md-9">
      <%= f.text_field :email_constraint, class: 'form-control', placeholder: 'Email Constraint/Domain' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :image, class: 'col-sm-4 col-md-3 control-label' %>
    <div class="col-sm-8 col-md-9">
      <%= f.url_field :image, class: 'form-control', placeholder: 'Image' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :website, class: 'col-sm-4 col-md-3 control-label' %>
    <div class="col-sm-8 col-md-9">
      <%= f.url_field :website, class: 'form-control', placeholder: 'Website' %>
    </div>
  </div>

  <hr>

  <div class="form-group">
    <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">
      <div class="checkbox">
        <label>
          <%= f.check_box :uses_cas, onclick: 'CASSupport()' %> Uses <%= link_to 'Yale/Jasig/Apereo CAS', 'https://www.apereo.org/projects/cas', target: '_blank' %> (If YES, the endpoint below must be correct)
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cas_endpoint, 'CAS Endpoint', class: 'col-sm-4 col-md-3 control-label' %>
    <div class="col-sm-8 col-md-9">
      <%= f.url_field :cas_endpoint, class: 'form-control', placeholder: 'https://example.com/cas', id: 'cas_field', disabled: 'disabled' %>
      <span id="helpBlock" class="help-block">Standard URLs will be inferred from this base URL. Do not leave a trailing slash.</span>
    </div>
  </div>

  <% if !(controller.action_name == "create" or controller.action_name == "new") %>
    <hr>

    <div class="form-group">
      <%= f.label :current_term_id, 'Current Term', class: 'col-sm-4 col-md-3 control-label' %>
      <div class="col-sm-8 col-md-9">
        <%= f.collection_select :current_term_id, @institution.terms, :id, :term_name_long, (@institution.current_term.nil? ? {prompt: "No Terms"} : {selected: @institution.current_term.id}), (@institution.current_term.nil? ? {class: 'form-control', disabled: 'disabled'} : {class: 'form-control'}) %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <%= f.submit 'Save', class: "btn btn-primary btn-block", id: 'submit_btn' %>
    </div>
  </div>
<% end %>
