<% provide(:title, "#{@course.department.name}#{@course.number}'s Members") %>

<ol class="breadcrumb">
  <li><%= link_to 'Courses', courses_path %></li>
  <% if @course.department.term == @course.department.term.institution.next_term %>
  <li><%= link_to @course.department.term.term_name, courses_path(next_term: true) %></li>
  <li><%= link_to @course.department.name, courses_path(next_term: true, department: @course.department.id) %></li>
  <% elsif @course.department.term = @course.department.term.institution.current_term %>
  <li><%= link_to @course.department.term.term_name, courses_path %></li>
  <li><%= link_to @course.department.name, courses_path(department: @course.department.id) %></li>
  <% else %>
  <li><%= link_to @course.department.term.term_name, courses_path %></li>
  <li><%= @course.department.name %></li>
  <% end %>
  <li><%= link_to "#{@course.department.name} #{@course.number}", course_path(@course) %></li>
  <li class="active">Members</li>
</ol>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1" style="text-align: center">
    <h1><%= "#{@course.department.name}#{@course.number} - #{@course.name}" %> <small><%= @course.department.term.term_name %></small></h1>
  </div>
</div>

<hr>

<%= render partial: 'users/list' %>
