$('.year_select').prop('disabled', false)
$('.term_select').prop('disabled', false)
$('.department_select').prop('disabled', false)
$('#course_list').empty()
<% @courses.each do |course| %>
  tr = document.createElement("tr")
  // <% if course.name.blank? %>
  //   tr.className = "warning"
  // <% end %>
  td1 = document.createElement("td")
  td1.innerHTML = '<td><%= link_to get_info_course_url(course) do %><%= course.department.name + " " + course.number %><% end %></td>'
  td2 = document.createElement("td")
  td2.innerHTML = '<td><%= link_to get_info_course_url(course) do %><%= course.name.blank? ? "[Click to add this Course to StuHub]" : course.name %><% end %></td>'
  td3 = document.createElement("td")
  <% if current_user.memberOfCourse?(course) %>
    td3.innerHTML = '<td><%= link_to "Drop", course_membership_path(current_user.course_memberships.find_by(course_id: course.id)), method: "delete", class: "btn btn-danger btn-block", role: "button", data: { confirm: "Are you sure you want to drop this course?" } %></td>'
  <% else %>
    td3.innerHTML = '<td><%= link_to "Add", course_memberships_path(user_id: current_user, course_id: course), method: "post", class: "btn btn-primary btn-block", role: "button" %></td>'
  <% end %>
  tr.appendChild(td1)
  tr.appendChild(td2)
  tr.appendChild(td3)
  $('#course_list').append(tr)
<% end %>
