<% provide(:title, 'All Courses') %>

<div class="row">
  <div class="col-xs-12" style="text-align: center">
    <h1>Course Browser (Term: <%= @term.term_name %>)</h1>
  </div>
</div>
<% if @term.data_mode == 1 %>
<div class="row">
  <% if @next_term %>
  <div class="form-group col-xs-4 col-sm-2">
    <%= link_to "Current Term", courses_path, class: "btn btn-primary btn-block", role: "button" %>
  </div>
  <% end %>
  <div class="form-group col-xs-8 <%= @next_term ? '' : 'col-sm-offset-2' %>">
    <%= collection_select(:department, :name, @departments, :id, :name, (@department_select ? {prompt: "Departments", selected: @department_select} : {prompt: "Departments"}), (@departments.size == 0 ? {class: 'form-control department_select', disabled: 'disabled'} : {class: 'form-control department_select'})) %>
  </div>
  <% unless @next_term or @institution.next_term.nil? %>
  <div class="form-group col-xs-4 col-sm-2">
    <%= link_to "Next Term", courses_path(next_term: true), class: "btn btn-primary btn-block", role: "button" %>
  </div>
  <% end %>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">
      <table class="table table-striped table-hover" id="users">
        <thead>
          <tr style="text-align: center;">
            <th width="30%">Course</th>
            <th width="50%">Description</th>
            <th width="20%">Add to Schedule</th>
          </tr>
        </thead>

        <tbody id="course_list">
          <% if @courses.size == 0 %>
            <tr style="text-align: center;">
              <td colspan="3">No Courses Available</td>
            </tr>
          <% else %>
            <% @courses.each do |course| %>
              <tr>
                <td><%= link_to course.course_number, get_info_course_url(course) %></td>
                <td><%= link_to get_info_course_url(course) do %><%= course.name.blank? ? "[Click to add this Course to StuHub]" : course.name %><% end %></td>
                <% if current_user.memberOfCourse?(course) %>
                  <td><%= link_to "Drop", course_membership_path(current_user.course_memberships.find_by(course_id: course.id)), method: "delete", class: "btn btn-danger btn-block", role: "button", data: { confirm: "Are you sure you want to drop this course?" } %></td>
                <% else %>
                  <td><%= link_to "Add", course_memberships_path(user_id: current_user, course_id: course), method: "post", class: "btn btn-primary btn-block", role: "button" %></td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% else %>
<div class="row" style="text-align: center;">
  <h4>Your Institution currently does not support courses on this system.</h4>
</div>
<% end %>
