<% provide(:title, "Info - #{@course.department.name}#{@course.number}") %>

<ol class="breadcrumb">
  <li><%= link_to 'Courses', courses_path %></li>
  <% if @course.department.term == @course.department.term.institution.next_term %>
  <li><%= link_to @course.department.term.term_name, courses_path(next_term: true) %></li>
  <li><%= link_to @course.department.name, courses_path(next_term: true, department: @course.department.id) %></li>
  <% elsif @course.department.term = @course.department.term.institution.current_term %>
  <li><%= link_to @course.department.term.term_name, courses_path %></li>
  <li><%= link_to @course.department.name, courses_path(department: @course.department.id) %></li>
  <% else %>
  <li><%= link_to @course.department.term.term_name, courses_path %></li>
  <li><%= @course.department.name %></li>
  <% end %>
  <li><%= link_to "#{@course.department.name} #{@course.number}", @course %></li>
  <li class="active">Course Info</li>
</ol>

<h1><%= "#{@course.department.name}#{@course.number} - #{@course.name}" %> <small><%= @course.department.term.term_name %></small></h1>

<hr>

<div class="row">
  <div class="col-xs-12 col-sm-8">
    <span style="font-size: 24px">Current Status: <%= @cm ? "Enrolled" : "Not Enrolled" %></span>
  </div>
  <div class="col-xs-12 col-sm-4">
    <% if !@cm.nil? %>
      <%= link_to "Drop", course_membership_path(@cm), method: "delete", class: "btn btn-danger btn-block", role: "button", data: { confirm: "Are you sure you want to drop this course?" } %>
    <% else %>
      <%= link_to "Add", course_memberships_path(user_id: current_user, course_id: @course), method: "post", class: "btn btn-primary btn-block", role: "button" %>
    <% end %>
  </div>
</div>

<% @course.associated_classes.order('number ASC').each do |ac| %>

  <h3>Section Group <%= ac.sections.first.key %>
    <small><%= link_to 'Course Outline', "https://www.sfu.ca/outlines.html?#{@course.department.term.year}/#{@course.department.term.name}/#{@course.department.name}/#{@course.number}/#{ac.sections.first.key}".downcase, target: '_blank' %></small></h3>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-condensed" id="sections">
      <thead>
        <tr>
          <th width="10%">Section #</th>
          <th width="25%">Instructors</th>
          <th width="50%">Location and Time</th>
          <th width="15%">Add to Schedule</th>
        </tr>
      </thead>

      <tbody id="section_list">
        <% ac.sections.order('key ASC').each do |s| %>
        <tr>
          <td><strong><%= s.key %></strong><br><%= s.code %></td>
          <td>
            <% if s.instructors.length == 0 %>
              No Known Instructors
            <% else %>
              <% s.instructors.each do |i| %>
                <strong><%= "#{i.first_name} #{i.last_name}" %></strong>
                <% if !i.email.blank? %><small> <%= i.email %></small><% end %>
                <% if !i.office.blank? %><br><strong>O: </strong> <%= i.office %><% end %>
                <% if !i.phone.blank? %><br><strong>P: </strong> <%= i.phone %><% end %>
                <% if i != s.instructors.last %>
                  <hr style="margin: 4px 0;">
                <% end %>
              <% end %>
            <% end %>
          </td>
          <td>
            <% if s.section_times.length == 0 %>
              No Known Schedules
            <% else %>
              <% s.section_times.each do |st| %>
                <strong><%= "#{st.days} #{st.start_time.in_time_zone.strftime('%I:%M %p')} - #{st.end_time.in_time_zone.strftime('%I:%M %p')}" %></strong>
                <%= "#{st.building} #{st.room} at #{st.campus}" %>
                <% if st != s.section_times.last %>
                  <br>
                <% end %>
              <% end %>
            <% end %>
            <hr style="margin: 4px 0;">
            <% if s.exams.length == 0 %>
              No Known Exams
            <% else %>
              <% s.exams.order('exam_start ASC').each do |e| %>
                <strong><%= "#{e.exam_start.strftime("%a")} #{e.exam_start.strftime("%D")} #{e.exam_start.in_time_zone.strftime('%I:%M %p')} - #{e.exam_end.in_time_zone.strftime('%I:%M %p')}" %></strong>
                <%= "#{e.building} #{e.room} at #{e.campus}" %>
                <% if e != s.exams.last %>
                  <br>
                <% end %>
              <% end %>
            <% end %>
          </td>
          <td>
            <% if !@cm.nil? %>
              <% if @cm.sectionInMembership?(s.id) %>
                <%= link_to "Remove", remove_sec_course_membership_path(@cm, section_id: s.id), method: "delete", class: "btn btn-danger btn-block", role: "button" %></td>
              <% else %>
                <%= link_to "Add", add_sec_course_membership_path(id: @cm.id, section_id: s.id), method: "post", class: "btn btn-primary btn-block", role: "button" %></td>
              <% end %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% end %>
