<% provide(:title, "Resources - #{@course.course_number}") %>
<% provide(:main_title, "#{@course.course_number} - #{@course.name}") %>
<% provide(:sub_title, @course.department.term.term_name) %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Course Resources</h1>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-hover" id="resources">
      <tbody>
        <% if @resources.size <= 0 %>
          <tr>
            <td colspan="4" style="text-align: center;"><strong>No Course Resources</td>
          </tr>
        <% end %>
        <% @resources.each do |r| %>
          <tr>
            <td rowspan="2"><strong><%= r.name %></strong><br><small><%= r.user.nil? ? "Deleted User" : (link_to r.user.name, r.user) %><br><%= r.created_at.in_time_zone.strftime("%b %d %Y, %l:%M %p") %></small></td>
            <td colspan="2"><%= markdown(r.description) %></td>
          </tr>
          <tr>
            <td><%= r.file_type_string %></td>
            <td style="min-width: 400px;">
              <div class="col-xs-3">
                <% if current_user?(r.user) or current_user.admin? %>
                  <%= link_to "Open", resource_course_path(@course, resource_id: r), class: "btn btn-default btn-block btn-sm", target: '_blank', role: "button" %>
                <% end %>
              </div>
              <div class="col-xs-3">
                <% if current_user?(r.user) or current_user.admin? %>
                  <%= link_to "Share", "#", class: "btn btn-default btn-block btn-sm", target: '_blank', role: "button", onclick: "window.prompt('Copy and Paste the following where you want to share the link (Replace LINK_TITLE with the display name of the link):', '[LINK_TITLE](#{resource_course_url(@course, resource_id: r)})'); return false;"%>
                <% end %>
              </div>
              <div class="col-xs-3">
                <% if current_user?(r.user) or current_user.admin? %>
                  <%= link_to "Edit", edit_resource_course_path(@course, resource_id: r), class: "btn btn-primary btn-block btn-sm", role: "button" %>
                <% end %>
              </div>
              <div class="col-xs-3">
                <% if current_user?(r.user) or current_user.admin? %>
                  <%= link_to "Delete", resource_course_path(@course, resource_id: r), method: "delete", class: "btn btn-danger btn-block btn-sm", role: "button", data: { confirm: "Are you sure you want to delete this resource?" } %>
                <% end %>
              </div>

          </tr>
        <% end %>
        <tr>
          <td colspan="4"><%= link_to "Create New Resource", new_resource_course_path(@course), class: "btn btn-primary btn-block", role: "button" %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
