<% provide(:title, "#{@course.department.name}#{@course.number}") %>

<ol class="breadcrumb">
  <li><%= link_to 'Courses', courses_path %></li>
  <li><%= link_to @course.department.term.year.number, courses_path(year: @course.department.term.year.id) %></li>
  <li><%= link_to @course.department.term.name, courses_path(year: @course.department.term.year.id, term: @course.department.term.id) %></li>
  <li><%= link_to @course.department.name, courses_path(year: @course.department.term.year.id, term: @course.department.term.id, department: @course.department.id) %></li>
  <li class="active"><%= "#{@course.department.name} #{@course.number}" %></li>
</ol>

<h1><%= "#{@course.department.name}#{@course.number} - #{@course.name}" %> <small><%= "#{@course.department.term.name} #{@course.department.term.year.number}" %></small></h1>

<hr>

<ul id="chat">
  <%= render @messages %>
</ul>

<%= form_for Message.new, remote: true do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :channel_type, value: "1" %>
  <%= f.hidden_field :channel_id, value: @course.id %>
  <%= f.text_field :content %>
  <%= f.submit "Send" %>
<% end %>

<%= subscribe_to "/courses/#{@course.id}/messages" %>

<hr>

<%= link_to "Course Info", get_info_course_path(@course), class: "btn btn-primary btn-block", role: "button" %>
