<% provide(:title, "#{@course.department.name}#{@course.number}") %>

<ol class="breadcrumb">
  <li><%= link_to 'Courses', courses_path %></li>
  <% if @course.department.term == @course.department.term.institution.next_term %>
  <li><%= link_to @course.department.term.term_name, courses_path(next_term: true) %></li>
  <li><%= link_to @course.department.name, courses_path(next_term: true, department: @course.department.id) %></li>
  <% elsif @course.department.term = @course.department.term.institution.current_term %>
  <li><%= link_to @course.department.term.term_name, courses_path %></li>
  <li><%= link_to @course.department.name, courses_path(department: @course.department.id) %></li>
  <% else %>
  <li><%= link_to @course.department.term.term_name, courses_path %></li>
  <li><%= @course.department.name %></li>
  <% end %>
  <li class="active"><%= "#{@course.department.name} #{@course.number}" %></li>
</ol>

<h1><%= "#{@course.department.name}#{@course.number} - #{@course.name}" %> <small><%= @course.department.term.term_name %></small></h1>

<hr>

<div class="row">
  <div class="col-xs-6">
    <%= link_to "Course Info", get_info_course_path(@course), class: "btn btn-primary btn-block", role: "button" %>
  </div>
  <div class="col-xs-6">
    <%= link_to "Course Members", users_course_path(@course), class: "btn btn-primary btn-block", role: "button" %>
  </div>
</div>

<%= render partial: 'messages/interface', locals: {chat_channel_type: @chat_channel_type,
                                                   post_channel_type: @post_channel_type,
                                                   channel_id: @course.id, nav: false, obj: nil, obj_name: ''} %>

<%= subscribe_to "/courses/#{@course.id}/messages" %>
<%= subscribe_to "/courses/#{@course.id}/posts" %>
