<nav class="navbar navbar-inverse navbar-static-top navbar-mod">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content" aria-expanded="false">
        <span class="icon-bar"></span>
        <!-- Disabled the lower two bars to make it fit on the slim nav bar -->
        <!-- <span class="icon-bar"></span>
        <span class="icon-bar"></span> -->
      </button>
      <% if logged_in? %>
        <%= link_to 'Home', home_path, class: "navbar-brand" %>
      <% else %>
        <%= link_to 'Welcome', root_path, class: "navbar-brand" %>
      <% end %>
      <%#= link_to (image_tag("logo-2-03.png", height: '30px')), root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-content">
      <% if logged_in? %>
        <ul class="nav navbar-nav">
          <li class="<%= 'active' if current_page?(courses_path) %>"><%= link_to 'Courses', courses_path %></li>
          <li class="<%= 'active' if current_page?(groups_path) %>"><%= link_to 'Groups', groups_path %></li>
        </ul>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= 'active' if current_page?(help_path) %>"><%= link_to 'Help', help_path %></li>
        <% if logged_in? %>
          <% if current_user.admin? %>
            <li class="dropdown <%= 'active' if current_page?(admin_path) %>">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="<%= 'active' if current_page?(admin_path) %>"><%= link_to 'General Settings', admin_path %></li>
                <li class="<%= 'active' if current_page?(admin_users_path) %>"><%= link_to 'User Management', admin_users_path %></li>
                <li class="<%= 'active' if current_page?(institutions_path) %>"><%= link_to 'Institutions', institutions_path %></li>
                <li role="separator" class="divider"></li>
                <li class="<%= 'active' if current_page?(users_path) %>"><%= link_to 'All Users', users_path %></li>
              </ul>
            </li>
          <% end %>
          <li class="dropdown <%= 'active' if current_page?(current_user) %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= gravatar_for current_user, size: 20, class: 'img-rounded' %>&nbsp;&nbsp;<%= current_user.name %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="<%= 'active' if current_page?(courses_user_path(current_user)) %>"><%= link_to 'Your Courses', courses_user_path(current_user) %></li>
              <li class="<%= 'active' if current_page?(groups_user_path(current_user)) %>"><%= link_to 'Your Groups', groups_user_path(current_user) %></li>
              <li role="separator" class="divider"></li>
              <li class="<%= 'active' if current_page?(current_user) %>"><%= link_to 'Your Profile', current_user %></li>
              <li class="<%= 'active' if current_page?(edit_user_path(current_user)) %>"><%= link_to 'Account Settings', edit_user_path(current_user) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Logout', logout_path, method: "delete" %></li>
            </ul>
          </li>
        <% else %>
          <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to 'About', about_path %></li>
          <li class="<%= 'active' if current_page?(register_path) %>"><%= link_to 'Register', register_path %></li>
          <li class="<%= 'active' if current_page?(login_path) %>"><%= link_to 'Login', login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
