<style>
  strong{
    color:#B22222;
    font-size:15px;
  }
</style>
<%= form_for(@event) do |f| %>
<%= render partial: 'shared/error_messages', locals: {obj: @event} %>

  <div class="field">
    <strong><%= f.label :title %><br></strong>
    <%= f.text_field :title %>
    <p></p>
  </div>
  <div class="field">
     <strong><%= f.label :description %><br></strong>
    <%= f.text_area :description %>
  </div>
  <div class="field">
     <strong><%= f.label :start_time %><br></strong>
    <%= f.datetime_select :start_time %>
     <p></p>
  </div>
  <div class="field">
     <strong><%= f.label :end_time %><br></strong>
    <%= f.datetime_select :end_time %>
  </div>
  <div class="col-xs-11" style = "margin-top:20px">
    <%= f.submit "Update" ,class: "btn btn-primary btn-block"%>
  </div>
<% end %>
