<style>
  strong{
    color:#B22222;
    font-size:15px;
  }
</style>
<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong><%= f.label :title %><br></strong>
    <%= f.text_field :title %>
    <p></p>
  </div>
  <div class="field">
     <strong><%= f.label :description %><br></strong>
    <%= f.text_area :description %>
  </div>
  <div class="field">
     <strong><%= f.label :start_time %><br></strong>
    <%= f.datetime_select :start_time %>
     <p></p>
  </div>
  <div class="field">
     <strong><%= f.label :end_time %><br></strong>
    <%= f.datetime_select :end_time %>
  </div>
  <div class="col-xs-11" style = "margin-top:20px">
    <%= f.submit "Update" ,class: "btn btn-primary btn-block"%>
  </div>
<% end %>
