<p id="notice"><%= notice %></p>
<style>
  strong{
    color:#B22222;
    font-size:20px;
  }
</style>
<div class="col-sm-4 col-sm-push-0" id="form_render"  style = "margin-top:50px">
<p>
  Title:
  <strong><%= @event.title %></strong>
</p>

<p>
  Description:
  <strong><%= @event.description %></strong>
</p>

<p>
  Strat time:
  <strong><%= @event.strat_time %></strong>
</p>
<p>
  End time:
  <strong><%= @event.end_time %></strong>
</p>
  <div class="col-xs-6" style="margin-top: 15px;">
        <%= link_to 'Edit', edit_event_path(@event), class: "btn btn-primary btn-block", role: "button" %>
  </div>
  <div class="col-xs-6" style="margin-top: 15px;">
        <%= link_to 'Back', events_path, class: "btn btn-primary btn-block", role: "button" %>
  </div>
  <div class="col-sm-5" style="margin-top: 10px;">
        <%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>

<div class="col-sm-6 col-sm-push-2" id="show_calendar"  >
    <!-- Main Content, order top on mobile -->
    <div class="panel panel-default">
      <div class="panel-heading">
            <h1 class="panel-title">Events</h1>
      </div>
      <div class="panel-body">
        <div id="calendar2"></div>
      </div>
    </div>
</div>





