<% content_for :content do %>
<div class="row">
  <div class="col-sm-9 col-sm-push-3">
    <%= yield %>
  </div>
  <div class="col-sm-3 col-sm-pull-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Administration Menu</h1>
      </div>
      <div class="list-group">
        <%= link_to 'General Settings', admin_path, class: "list-group-item #{'active' if current_page?(admin_path)}" %>
        <%= link_to 'User Management', admin_users_path, class: "list-group-item #{'active' if current_page?(admin_users_path)}" %>
        <%= link_to 'Institutions', institutions_path, class: "list-group-item #{'active' if current_page?(institutions_path)}" %>
        <%= link_to 'Contact Requests', contact_requests_path, class: "list-group-item #{'active' if current_page?(contact_requests_path)}" %>
      </div>
    </div>
  </div>
</div>


<% end %>
<%= render template: "layouts/application" %>
