<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) + ' - StuHub' %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%# if current_page?(controller: 'index', action: 'index') %>
  <div id="banner_image" style="height: 100px; text-align: center;">
    <span style="font-size: 68px; font-weight: bold;">StuHub</span>
  </div>
  <%# end %>
  <div id="wrapper">
    <%= render "shared/nav" %>

    <div class="container" id="main_container">
        <%= yield %>
    </div>

    <div class="footer_spacer"></div>

  </div>

  <%= render "shared/footer" %>

  <script type="text/javascript">
      var title = '<%= yield(:title) %>';
      $(".navbar-nav a:contains(" + title + ")").parent().addClass('active');
  </script>
</body>
</html>
