<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield(:title) + ' - StuHub' %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>
<body>
  <%= link_to "", root_path, class: "banner_image" %>

  <%= render "shared/nav" %>

  <div class="container" id="main_container">

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>

    <%# debug information show on development pages %>
    <%= debug(params) if Rails.env.development? %>

  </div>

  <%= render "shared/footer" %>

  <script type="text/javascript">
      var title = '<%= yield(:title) %>';
      $(".navbar-nav a:contains(" + title + ")").parent().addClass('active');
  </script>
</body>
</html>
