<%= form_for @resource, url: dest, multipart: true, html: {class: 'form-horizontal'} do |f| %>
<%= render partial: 'shared/error_messages', locals: {obj: @resource} %>

  <div class="form-group">
    <%= f.label :name, class: 'col-sm-4 col-md-3 control-label' %>
    <div class="col-sm-8 col-md-9">
      <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: 'col-sm-4 col-md-3 control-label' %>
    <div class="col-sm-8 col-md-9">
      <%= f.text_area :description, class: 'form-control', placeholder: 'Description', style: 'max-width: 100%;' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :category, 'Type of Contact', class: 'col-sm-4 col-md-3 control-label' %>
    <div class="col-sm-8 col-md-9">
      <label class="radio-inline">
        <%= f.radio_button :category, 0 %> Other
      </label>
      <!-- <label class="radio-inline">
        <%= f.radio_button :category, 1 %> Complaint
      </label>
      <label class="radio-inline">
        <%= f.radio_button :category, 2 %> Bug Report
      </label> -->
    </div>
  </div>

  <hr>

  <div class="form-group">
    <%= label_tag :file, 'Resource File', class: 'col-sm-4 col-md-3 control-label' %>
    <div class="col-sm-8 col-md-9">
      <%= f.file_field :file, accept: "image/jpeg,image/png,image/gif,application/pdf,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,text/plain", class: 'form-control' %>
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
      <%= f.submit "Submit", class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>
