<div class="row">
  <div class="col-sm-9 col-sm-push-3" id="profile_content">
    <div class="row">
      <div class="col-xs-12">
        <h1><%= gravatar_for @user, size: 50, class: 'img-responsive img-rounded center-block visible-xs-inline-block' %> <%= @user.name %> <small><%= @user.role_string_long %></small></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= yield :page_content %>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-sm-pull-9" id="profile_sidebar">
    <div class="row">
      <div class="col-sm-12 hidden-xs" id="profile_avatar_container">
        <%= gravatar_for @user, size: 200, class: 'img-responsive img-rounded center-block' %>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-xs-12" id="profile_sidebar_content">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">User Menu</h1>
          </div>
          <div class="list-group">
            <%= link_to 'Profile', @user, class: "list-group-item #{'active' if current_page?(@user)}" %>
            <%= link_to 'Courses', courses_user_path(@user), class: "list-group-item #{'active' if current_page?(courses_user_path(@user))}" if (current_user?(@user) || current_user.more_powerful(true, @user)) || @user.privacy_setting.display_courses %>
            <%= link_to 'Groups', groups_user_path(@user), class: "list-group-item #{'active' if current_page?(groups_user_path(@user))}" if (current_user?(@user) || current_user.more_powerful(true, @user)) || @user.privacy_setting.display_groups %>
            <%= link_to 'Edit Profile', customize_user_path(@user), class: "list-group-item #{'active' if current_page?(customize_user_path(@user))}" if (current_user?(@user) || current_user.more_powerful(true, @user)) %>
            <%= link_to 'Connected Accounts', accounts_user_path(@user), class: "list-group-item #{'active' if current_page?(accounts_user_path(@user))}" if (current_user?(@user) || current_user.superuser?) %>
            <%= link_to 'User Settings', edit_user_path(@user), class: "list-group-item #{'active' if current_page?(edit_user_path(@user))}" if (current_user?(@user) || current_user.more_powerful(true, @user)) %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
