<% provide(:title, "Connected Accounts - #{@user.name}") %>

<% content_for :page_content do %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Connected Accounts</h1>
    </div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <%= label_tag '', 'CAS Authentication', {class: 'col-sm-4 col-md-3 control-label'} %>
          <div class="col-sm-8 col-md-9">
            <% if @user.cas_identifier.blank? %>
              <% if !@user.institution.nil? and @user.institution.uses_cas? %>
                <%= link_to "Enable CAS Authentication", cas_enable_path(user_id: @user.id), method: "post", class: "btn btn-primary btn-block", role: "button" %>
              <% else %>
                <span id="helpBlock" class="help-block">Your Institution does not support using CAS Authentication.</span>
              <% end %>
            <% else %>
              <%= link_to "Disable CAS Authentication", cas_disable_path(user_id: @user.id), method: "post", class: "btn btn-danger btn-block", role: "button" %>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag '', 'CAS Identifier', {class: 'col-sm-4 col-md-3 control-label'} %>
          <div class="col-sm-8 col-md-9">
            <%= text_field_tag '', @user.cas_identifier, {class: 'form-control', placeholder: 'N/A', disabled: 'disabled'} %>
          </div>
        </div>

        <hr>

        <div class="form-group">
          <%= label_tag '', 'Dropbox', {class: 'col-sm-4 col-md-3 control-label'} %>
          <div class="col-sm-8 col-md-9">
            <% if @user.dropbox_uid.blank? %>
              <%= link_to "Link Dropbox", dropbox_link_path(user_id: @user.id), method: "post", class: "btn btn-primary btn-block", role: "button" %>
            <% else %>
              <%= link_to "Unlink Dropbox", dropbox_unlink_path(user_id: @user.id), method: "post", class: "btn btn-danger btn-block", role: "button" %>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag '', 'Dropbox Account', {class: 'col-sm-4 col-md-3 control-label'} %>
          <div class="col-sm-8 col-md-9">
            <%= text_field_tag '', @dropbox_display_name, {class: 'form-control', placeholder: 'N/A', disabled: 'disabled'} %>
          </div>
        </div>

        <hr>

        <div style="text-align: center;"><strong>More Account Integrations Coming Soon</strong></div>
      </form>
    </div>
  </div>
<% end %>

<%= render 'profile_template' %>
