<% provide(:title, "Groups - #{@user.name}") %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Groups</h1>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th width="80%">Name</th>
          <% if current_user?(@user) %>
            <th width="20%"></th>
          <% end %>
        </tr>
      </thead>
      <% if @user.group_memberships.size == 0 %>
        <tr><td colspan="4" style="text-align: center;">No Membership Groups</td></tr>
      <% else %>
        <% (@user.group_memberships.sort {|a,b| a.group.name <=> b.group.name}).each do |gm| %>
          <tr>
            <td><%= link_to gm.group.name, gm.group %><br><small style="white-space: pre;">Joined: <%= gm.created_at.in_time_zone.strftime("%b %d %Y, %l:%M %p") %></td>
            <% if current_user?(@user) %>
              <td><%= link_to "Leave", group_membership_path(gm, leave: "true"), method: "delete", class: "btn btn-danger btn-block", role: "button", data: { confirm: "Are you sure you want to leave this group?" } %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
      <% if current_user?(@user) %>
      <tr>
        <td colspan="4">
          <div class="col-xs-6"><%= link_to "Join Groups", groups_path, class: "btn btn-primary btn-block", role: "button" %></div>
          <div class="col-xs-6"><%= link_to "Create Group", new_group_path, class: "btn btn-primary btn-block", role: "button" %></div>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
