<%= javascript_tag do %>
  DataSource = function() {
    var sourceVal = $('input[name="term[data_mode]"]:checked').val();
    var dataURLField = document.getElementById("data_url_field");

    var disable = document.createAttribute("disabled");
    disable.value = "disabled";
    dataURLField.setAttributeNode(disable);

    if (sourceVal != 0) {
      dataURLField.removeAttribute("disabled");
    }
  }
  $(document).ready(function() {
    DataSource()
  })
<% end %>

<%= form_for(@term, url: dest, html: {class: 'form-horizontal'}) do |f| %>
  <%= render partial: 'shared/error_messages', locals: {obj: @term} %>

  <div class="form-group">
    <%= f.label :name, class: 'col-sm-4 col-md-3 control-label' %>
    <div class="col-sm-8 col-md-9">
      <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :year, class: 'col-sm-4 col-md-3 control-label' %>
    <div class="col-sm-8 col-md-9">
      <%= f.number_field :year, in: 1900..2100, step: 1, class: 'form-control', placeholder: 'Year' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :term_reference, 'Reference', class: 'col-sm-4 col-md-3 control-label' %>
    <div class="col-sm-8 col-md-9">
      <%= f.text_field :term_reference, class: 'form-control', placeholder: 'Examples: 1161, spring2016' %>
  </div>
  </div>

  <hr>

  <div class="form-group">
    <%= f.label :data_mode, 'Data Source', class: 'col-sm-4 col-md-3 control-label' %>
    <div class="col-sm-8 col-md-9">
      <label class="radio-inline">
        <%= f.radio_button :data_mode, 0, onclick: 'DataSource()' %> Manual
      </label>
      <label class="radio-inline">
        <%= f.radio_button :data_mode, 1, onclick: 'DataSource()' %> XLSX DB
      </label>
      <label class="radio-inline">
        <%= f.radio_button :data_mode, 2, onclick: 'DataSource()' %> API
      </label>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :data_url, 'Data URL', class: 'col-sm-4 col-md-3 control-label' %>
    <div class="col-sm-8 col-md-9">
      <%= f.url_field :data_url, class: 'form-control', placeholder: 'URL, preferrably over HTTPS', id: 'data_url_field', disabled: 'disabled' %>
      <span id="helpBlock" class="help-block">Needs to follow a specified <a href="/help/institutions#data_format">format</a>.</span>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :data_last_updated, 'Last Updated', class: 'col-sm-4 col-md-3 control-label' %>
    <div class="col-sm-8 col-md-9">
      <%= f.text_field :data_last_updated, class: 'form-control', placeholder: 'Never', disabled: 'disabled' %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <%= f.submit 'Save', class: "btn btn-primary btn-block", id: 'submit_btn' %>
    </div>
  </div>
<% end %>
