<% provide(:title, @group.name) %>
<% provide(:main_title, @group.name) %>

<% if !@group.description.blank? %>
  <h4>Welcome Message:</h4>
  <p><%= markdown(@group.description) %></p>
<% end %>

<hr>

<div class="row">
  <div class="col-sm-7">
    <%= render partial: 'posts/interface', locals: {post_channel_type: @post_channel_type,
                                                           channel_id: @group.id, nav: false, obj: nil, obj_name: ''} %>
  </div>
  <div class="col-sm-5">
    <%= render partial: 'messages/interface', locals: {chat_channel_type: @chat_channel_type,
                                                              channel_id: @group.id, nav: false, obj: nil, obj_name: ''} %>
  </div>
</div>

<%= subscribe_to "/groups/#{@group.id}/messages" %>
<%= subscribe_to "/groups/#{@group.id}/posts" %>
