<% provide(:title, "#{@group.name}") %>

<ol class="breadcrumb">
  <li><%= link_to 'Groups', groups_path %></li>
  <li class="active"><%= @group.name %></li>
</ol>

<div class="row">
  <div class="col-xs-12 col-sm-8">
    <h1><%= @group.name %></h1>

    <% if !@group.description.blank? %>
      <p><%= @group.description %></p>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= link_to "Users", users_group_path(@group), class: "btn btn-primary btn-block", role: "button" %>
  </div>
</div>

<hr>

<%= render partial: 'messages/interface', locals: {chat_channel_type: @chat_channel_type,
                                                   post_channel_type: @post_channel_type,
                                                   channel_id: @group.id, nav: false, obj: nil, obj_name: ''} %>

<%= subscribe_to "/groups/#{@group.id}/messages" %>
<%= subscribe_to "/groups/#{@group.id}/posts" %>
