<% provide(:title, @group.name) %>

<h1><%= @group.name %></h1>

<% if !@group.description.blank? %>
  <p><%= @group.description %></p>
<% end %>

<hr>

<%= render partial: 'messages/interface', locals: {chat_channel_type: @chat_channel_type,
                                                   post_channel_type: @post_channel_type,
                                                   channel_id: @group.id, nav: false, obj: nil, obj_name: ''} %>

<%= subscribe_to "/groups/#{@group.id}/messages" %>
<%= subscribe_to "/groups/#{@group.id}/posts" %>
