<% provide(:title, 'General Settings - Admin') %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">General (StuHub Site-Wide) Settings</h1>
  </div>
  <div class="panel-body">


    <%= form_for(StuHubSettings, url: admin_path, html: {class: 'form-horizontal'}) do |f| %>
      <h4>Maintenance Mode</h4>

      <div class="form-group">
        <%= f.label :maintenance_message, 'Toggle', class: 'col-sm-3 col-md-2 control-label' %>
        <div class="col-sm-9 col-md-10">
          <div class="checkbox">
            <label>
              <%= f.check_box :maintenance_mode %> Maintenance Mode
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :maintenance_message, 'Message', class: 'col-sm-3 col-md-2 control-label' %>
        <div class="col-sm-9 col-md-10">
          <%= f.text_field :maintenance_message, class: 'form-control', placeholder: 'Displayed on the banner alert' %>
        </div>
      </div>

      <hr>

      <h4>Site Appearance</h4>

      <div class="form-group">
        <%= label_tag nil, 'Header', class: 'col-sm-3 col-md-2 control-label' %>
        <div class="col-sm-9 col-md-10">
          <div class="checkbox">
            <label>
              <%= f.check_box :compact_header %> Compact Header
              <span id="helpBlock" class="help-block">Replaces the header with a logo in the Navigation Bar</span>
            </label>
          </div>
          <div class="checkbox">
            <label>
              <%= f.check_box :compact_navbar %> Compact Navigation Bar
              <span id="helpBlock" class="help-block">Reduces the height of the Navigation Bar to 30px</span>
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag nil, 'Landing', class: 'col-sm-3 col-md-2 control-label' %>
        <div class="col-sm-9 col-md-10">
          <div class="checkbox">
            <label>
              <%= f.check_box :new_landing_page %> New Landing Page
              <span id="helpBlock" class="help-block">Uses a more modern and sophisticated landing page for new users and those not logged in.</span>
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-xs-offset-3 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
          <%= f.submit 'Save', class: "btn btn-primary btn-block", id: 'submit_btn' %>
        </div>
      </div>

    <% end %>
  </div>
</div>
