<% user = (User.exists?(id: message.user_id) ? User.find(message.user_id) : nil) %>

<div class="row" id="message_<%= message.id %>">
  <div class="col-xs-12">
    <div class="panel panel-default message_panel">
      <div class="panel-body" id="message_<%= message.id %>_content">
        <div class="media">
          <div class="media-left media-top">
            <% if user.nil? %>
              <%= image_tag 'https://secure.gravatar.com/avatar/?s=200', width: 24, class: 'media-object media-middle img-rounded' %>
            <% else %>
              <%= link_to user, target: '_blank' do %><%= gravatar_for user, size: 24, class: 'media-object media-middle img-rounded' %><% end %>
            <% end %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              <span class="message_created_at"><%= user.nil? ? "Unknown" : (link_to user.name, user, target: '_blank') %></span>
              <small><span style="float: right" class="message_created_at"><%= "#{message.created_at.in_time_zone.strftime("%x") if message.created_at.to_date != Date.today} #{message.created_at.in_time_zone.strftime("%l:%M:%S %p")}" %></span></small>
            </h4>
            <div class="message_body" id="message_<%= message.id %>_body">
              <%= markdown(message.content) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
